
{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}
{% block title %}Intuit case study{% endblock %}
{% block body %}
<body translate="no">
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name" />
        <input type="password" placeholder="password" />
        <input type="text" placeholder="email address" />
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      {% call f.form_tag('AuthView:post', fid='login') %}
      <form class="login-form">
        <input type="text" class="form-control" id="username" name="username" maxlength="255" placeholder="Username">
        <input type="password" class="form-control" id="password" name="password" maxlength="128" placeholder="Password">
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-block">
              login
            </button>
          </div>
        </div>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
      {% endcall %}
    </div>
  </div>
  <script src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script id="rendered-js">
      $('.message a').click(function () {
      $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
  });
  //# sourceURL=pen.js
  </script>
</body>
{% endblock %}
